* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
}

.topo-do-site {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.Eduardo-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00ff08;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #00ff08;
}

button:hover {
  box-shadow: 0px 0px 8px #00ff08;
  transform: scale(1.05);
}

header {
  padding: 40px 4%;
  position: fixed;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header a {
  color: #5d5d5d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40pxa;
}

.topo-do-site .txt-topo-site h1 span {
  color: #00ff08;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  width: 400px;
  height: 400px;
  clip-path: circle(50% at center);
  object-fit: cover;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

section.especialidades {
  padding: 40px 4%;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

section.especialidades .flex {
  gap: 60px;
  display: flex;
}

.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
  position: relative;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff6c;
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: #00ff08;
  display: flex;
  justify-content: center;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
  padding: 80px 4%;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #00ff08;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.sobre .txt-sobre .eduardo-social button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

.img-sobre img {
  width: 300px;
  height: auto;
  border-radius: 80px;
}

section.projetos {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cor {
  color: whitesmoke;
}
.repositorios {
  display: flex;
  gap: 35px;
}

h3 {
  color: white;
  font-size: 50px;
  padding: 50px;
}
.card {
  background-color: #00ff08;
  padding: 50px;
  border-radius: 100px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(195, 177, 207, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  font-size: 40px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #063128;
  font-weight: bold;
}
